<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head th:replace="/layout/head :: head"></head>
<body >
<header th:insert="~{/layout/header :: header}"></header>


<div class="container">
  <div class="row" id="titre_listeVille">
    <div class="col">
      <h1 th:text="${message}"></h1>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" id="link_to_addPatient"><a href="/ville/add" class="lien_btn">Ajouter une ville</a></button>
      
      <!-- Bouton ajout modal-->
      <button type="button" class="btn btn-primary" id="AddVilleModal" data-bs-toggle="modal" data-bs-target="#addVilleForm">
        Ajouter une ville Modals
    </button>
    </div>
  </div>


  <!-- ajout ville Modal-->
  <div class="modal fade" id="addVilleForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter une ville</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        <form action="/ville/add" method="post" th:insert="~{/ville/add_edit :: villeform}"></form>
      </div>
      </div>
    </div>
  </div>

  <table class="table" th:each="ville: ${lv}">
    <thead>
    <tr>
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-3">code postal </th>
      <th scope="col" class="col-4">nom</th>
      <th scope="col" class="col-4">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"  th:utext="${ville.id}"></th>
      <td th:utext="${ville.codePostal}"></td>
      <td th:utext="${ville.nom}"></td>
      <td>
        <button class="btn btn-primary" id='update'>
          <a th:href="@{/ville/edit/{id}(id=${ville.id})}" class="lien_btn">Update</a>
        </button>

        <!-- Bouton update modal-->
        <!--<button type="button" class="btn btn-primary" id="updatePatientModal" data-bs-toggle="modal" data-bs-target="#updatePatientForm">
          Update Modals
        </button>-->

        <button class="btn btn-danger" id="delete">
          <a th:href="@{/ville/delete/{id}(id=${ville.id})}" class="lien_btn">Delete</a>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<footer th:insert="~{/layout/footer :: footer}"></footer>

</body>

</html>