<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/layout/head :: head"></head>
<body >
    <header th:insert="~{/layout/header :: header}"></header>


    <div class="container">
        <div class="row" id="titre_listePatient">
            <div class="col">
                <h1 th:text="${message}"></h1>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" id="link_to_addPatient"><a href="/patient/add" class="lien_btn">Ajouter un patient</a></button>

                <!-- Bouton ajout modal-->
                <button type="button" class="btn btn-primary" id="AddPatientModal" data-bs-toggle="modal" data-bs-target="#addPatientForm">
                    Ajouter un patient Modals
                </button>
            </div>
        </div>


         <!-- ajout patient Modal-->
        <div class="modal fade" id="addPatientForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un patient</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/patient/add" method="post" th:insert="~{/patient/add_edit :: patientform}"></form>
                    </div>
                </div>
            </div>
        </div>

        <table class="table" th:each="patient: ${lp}">
            <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-4">Nom & prenom</th>
                <th scope="col" class="col-3">Ville</th>
                <th scope="col" class="col-4">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"  th:utext="${patient.id}"></th>
                <td th:utext="${patient.nom + ' ' + patient.prenom}"></td>
                <td th:utext="${patient.getVille()?.nom}"></td>
                <td>
                    <button class="btn btn-primary" id='update'>
                        <a th:href="@{/patient/edit/{id}(id=${patient.id})}" class="lien_btn">Update</a>
                    </button>

                    <!-- Bouton update modal-->
                    <button type="button" class="btn btn-primary" id="updatePatientModal" data-bs-toggle="modal" data-bs-target="#updatePatientForm">
                        Update Modals
                    </button>

                    <button class="btn btn-danger" id="delete">
                        <a th:href="@{/patient/delete/{id}(id=${patient.id})}" class="lien_btn">Delete</a>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <footer th:insert="~{/layout/footer :: footer}"></footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>