<!DOCTYPE html><html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head th:replace="/layout/head :: head"></head>
<body>

<div class="container">
    <h1 th:text="${message}"> </h1>
    <form action="/login" method="post">
        <div class="col-12">
            <label for="email" class="form-label">Email :</label>
            <input type="text" class="form-control" name="username" id="email" placeholder="Entrez votre email" aria-label="Entrez votre email">
        </div>
        <div class="col-12">
            <label for="password" class="form-label">Mot de passe :</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Entrez votre mot de passe" aria-label="Entrez votre mot de passe">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" id="envoyer_login"><a href="/patient/list" class="lien_btn">Envoyer</a></button>
        </div>
    </form>
    <div th:if="${param.error}" class="col-12 danger"> <p>nom d'utilisateur ou mot de passe incorrect </p></div>
</div>


</body>

</html>